# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg

# Data
*/data/*.db
*/data/cache/
*.db-journal

# Environment
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project
for-deletion/
